body{
    margin:0;
    background-color:rgb(10, 10, 10);
    
}

h1 {
    text-align:center;
    color:rgb(255.255.255);
}

#bandeau {
    width:100%;
    height:10vh;
    background-color:rgb(30, 30, 30);
    border-bottom:2px rgba(40, 40, 40, 0.800);
    display:flex;
    align-items:center;
    justify-content:center;
