body{
    margin:0;
    background-color:rgb(30, 30, 30);
    
}

h1 {
    text-align:center;
    color:rgb(255, 255, 255);
}
h2 {
    text-align:center;
    color:rgb(255, 255, 255);
}
h4 {
    text-align:center;
    color:rgb(255, 255, 255);
}
h5 {
    text-align:center;
    color:rgb(255, 255, 255);
}
p {
    text-align:center;
    color:rgb(255, 255, 255);
}
#link {
    color:rgb(0, 51, 0)
}
#bandeau {
    
    width:100%;
    height:50vh;
    background-color:rgb(55, 55, 55);
    border-bottom:5px rgba(40, 40, 40, 0.800);
    display:flex;
    align-items:center;
    justify-content:center;
#Main {
    width:65%;
    display:flex;
    align-items:center;
    justify-content:center;
}
